<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Listagem de projeto</div>
                <div class="panel-body">
                    
                    <div class="alert alert-danger" ng-show="error.error">
                        <strong>Whoops!</strong> Ocorreram erros:
                        <div>{{error.message}}</div>
                    </div>
                    <table class="table">
                    	<thead>
                    		<tr>
                    			<th>Nome</th>
                    			<th>Cliente</th>
                    			<th>Progresso</th>
                    			<th>Status</th>
                    			<th>Data de entrega</th>
                    			<th>Editar</th>
                    			<th>Remover</th>
                    		</tr>
                    	</thead>
                    	<tbody>
                    		<tr ng-repeat="o in project">
                    			<td>{{o.name}}</td>
                    			<td>{{o.client.data.name}}</td>
                    			<td>{{o.progress}}</td>
                    			<td>{{o.status}}</td>
                    			<td>{{o.due_date | dateBr}}</td>
                    			<td>
                    				<a ng-href="#/projects/{{o.project_id}}/edit" class="btn btn-default">Editar</a>
                    			</td>
                    			<td>
                    				<a ng-href="#/projects/{{o.project_id}}/remove" class="btn btn-default">Remover</a>
                    			</td>
                    		</tr>
                    	</tbody>
                    </table>
                    
                </div>
            </div>
        </div>
    </div>
</div>