<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Listagem de notas de projeto</div>
                <div class="panel-body">
                    
                    <div class="alert alert-danger" ng-show="error.error">
                        <strong>Whoops!</strong> Ocorreram erros:
                        <div>{{error.message}}</div>
                    </div>
                    <table class="table">
                    	<thead>
                    		<tr>
                    			<th>Titulo</th>
                    			<th>Nota</th>
                    		</tr>
                    	</thead>
                    	<tbody>
                    		<tr ng-repeat="o in projectNotes">
                    			<td>{{o.title}}</td>
                    			<td>{{o.content}}</td>
                    			<td>
                    				<a ng-href="#/project/{{o.project_id}}/notes/{{o.note_id}}" class="btn btn-default">Editar</a>
                    			</td>
                    			<td>
                    				<a ng-href="#/clients/{{o.project_id}}/remove/{{o.note_id}}" class="btn btn-default">Remover</a>
                    			</td>
                    		</tr>
                    	</tbody>
                    </table>
                    
                </div>
            </div>
        </div>
    </div>
</div>