<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Editar arquivo do projeto #{{file.project_id}}</div>
                <div class="panel-body">
                    
                    <div class="alert alert-danger" ng-show="error.error">
                        <strong>Whoops!</strong> Ocorreram erros:
                        <div>{{error.message}}</div>
                    </div>
                    
                    <form class="form-horizontal" name="form" role="form" method="POST" ng-submit="save()">

						<div class="form-group" ng-class="{'has-error': form.name.$invalid && form.name.$touched}">
                            <label class="col-md-4 control-label">Nome:</label>

                            <div class="col-md-6">
                                <input class="form-control" name="name" ng-model="file.name" required>
                                <div ng-messages="form.name.$error" class="help-block" ng-show="form.name.$touched">
                                    <div ng-message="required">Campo obrigatório</div>
                                </div>
                            </div>
                        </div>                      
                        
                        <div class="form-group" ng-class="{'has-error': form.description.$invalid && form.description.$touched}">
                            <label class="col-md-4 control-label">Conteúdo:</label>

                            <div class="col-md-6">
                                <textarea class="form-control" rows="5" name="description" ng-model="file.description" required></textarea>
                                <div ng-messages="form.description.$error" class="help-block" ng-show="form.description.$touched">
                                    <div ng-message="required">Campo obrigatório</div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-md-4 control-label">Arquivo:</label>

                            <div class="col-md-6">
                               <project-files-download id-project="{{file.project_id}}" id-file="{{file.id}}"></project-files-download>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <button type="submit" class="btn btn-primary" >
                                    Salvar
                                </button>

                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>