<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Remover arquivo do projeto #{{file.project_id}}</div>
                <div class="panel-body">
                    <p>Deseja realmente excluir esta arquivo?</p>
                    <div class="alert alert-danger" ng-show="error.error">
                        <strong>Whoops!</strong> Ocorreram erros:
                        <div>{{error.message}}</div>
                    </div>
                    
                    <ul>
                    	<li>Título: {{file.name}}</li>
                    	<li>Conteúdo: {{file.description | limitTo: 25}}</li>
                    	<li><project-files-download id-project="{{file.project_id}}" id-file="{{file.id}}"></project-files-download></li>
                    </ul>
                    <div class="form-group">
                    	<div class="col-md-6 col-md-offset-4">
                    		<button type="submit" class="btn btn-danger" ng-click="remove()">Remover</button>
                    	</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>